#navbar #nav-buttons ul li
{ 
    margin: 0.5rem 3rem;
}
#container
{
    background: url(../img/Landing\ BG.jpg) no-repeat center  center/cover;
    height: 94vh;
    
}
#plans
{
    display: flex;
    flex-direction: column;
}
#plans #div2
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
}
.plan
{

    margin-bottom: 4rem;
    width: 500px;
}
#form-social
{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}
form
{
    width:100%;
    padding: 0;
    margin: 0;
    margin-bottom: 3.5rem;
}
.ok
{
    width:90%;
}
